/* Custom Properties */

:root {
  --color-default:hsl(0, 0%, 100%);
  --ff-default:"Overpass", sans-serif;
  --fs-default:.875rem;
  --lh-default:1.5rem;
  --fw-default:400;

  --color-1:hsl(25, 97%, 53%);
  --color-2:hsl(0, 0%, 100%);
  --color-3:hsl(217, 12%, 63%);
  --color-4:hsl(216, 12%, 54%);
  --color-5:hsl(213, 19%, 18%);
  --color-6:hsl(216, 12%, 8%);

  --color-gradient-1a:#232A34;
  --color-gradient-1b:#181E27;

  --fw-400:400;
  --fw-700:700;

  --fs-h2:1.5rem;
  --fs-h3:1.5rem;
  --fs-p:.875rem;

  --lh-h2:2rem;
  --lh-h3:2rem;

  --circle-size: 2.5rem;
  --main-padding:1.5rem;
  --mb-container-star: 1rem;
  --mb-container-ratings: 1.5rem;
}

@media (min-width:412px) {
  :root {
    --fs-default:.9375rem;
    --lh-default:1.5rem;
    --fs-h2:1.75rem;
    --lh-h2:2.25rem;

    --circle-size: 3.25rem;
    --main-padding: 2rem;
    --mb-container-star: 2rem;
    --mb-container-ratings: 2rem;
  }
}

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0 
}

input, button, textarea, select {
  font: inherit;
}

/* General Styling 1x Elements */

html {
  height: 100%;
}

body {
  background-color: var(--color-6);
  color: var(--color-default);
  font-family: var(--ff-default);
  font-size: var(--fs-default);
  font-weight: var(--fw-default);
  line-height: var(--lh-default);

  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

main {
  background: linear-gradient(var(--color-gradient-1a),
    var(--color-gradient-1b));
  border-radius: 1rem;

  padding: var(--main-padding);
  margin: auto;
  width: min(412px, 100% - 3rem);
}

/* General Styling Generic Elements */

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  font-weight: var(--fw-700);
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--fs-h3);
  font-weight: var(--fw-700);
}

p {
  opacity: .5;
}

/* Component Styling */

.main-content[data-hidden='true'] {
  display: none;
}

.thank-you[data-hidden='true'] {
  display: none;
}

.container-star {
  background-color: var(--color-5);
  border-radius: 100vh;

  width: var(--circle-size);
  height: var(--circle-size);;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--mb-container-star);
}

.container-star> * {
  width: 1rem;
  height: 1rem;
}

.container-ratings {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-container-ratings);
}

.rating-label {
  background-color: var(--color-5);
  border-radius: 100vmax;

  width: var(--circle-size);
  height: var(--circle-size);

  display:flex;
  justify-content: center;
  align-items: center;
}

.rating-btn {
  opacity: 0; 
}

.rating-btn:checked + .rating-label {
  background-color: var(--color-1);
}

.rating-label:hover,
.rating-label:focus  {
  background-color: var(--color-4);
  cursor: pointer;
}

.btn-submit {
  border-radius: 100vmax;
  color: var(--color-2);
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.87px;
  font-weight: var(--fw-700);
  background-color: var(--color-1);
  cursor: pointer;

  width: 100%;
  padding-block: .7rem;
}

.btn-submit:hover
 {
  color: var(--color-1);
  background-color: var(--color-2);
}

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: .5rem;
}

/* Utility Classes */

.text-style-1 {
  color: var(--color-1);
  background-color: var(--color-5);
  opacity: 1;
  padding: .3rem 1rem;
  border-radius: 100vmax;
}

.mb-8 {
  margin-bottom: .5rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}
